<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Template.Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/Template.Web.styles.css" />
</head>
<body>
     <header>
        <div>Template</div>    
        <ul class="navbar">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="About">About Us</a></li>
            <li><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li><a asp-controller="Profile" asp-action="Index">Profile</a></li>
        </ul>
        <div class="header-btn">
            <a asp-page="/Account/Login" class="sign-up">Sign Up</a>
            <a asp-page="/Account/Login" 
            class="sign-in">Sign In</a>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container"> &copy; 2022 - Template. </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://kit.fontawesome.com/1faa30c684.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
