@{
    ViewData["Title"] = "Home Page";
}

@for (int i = 0; i < 20; i++)
{
    <div class="text-center">
        <h1 target-name="Template dev">Welcome</h1>
        <partial name="/PartialViews/_SamplePartialView.cshtml" />
        <vc:sample name="almighty dev"></vc:sample>
    </div>
}